@charset "utf-8";
body{
    color:#000;
    margin:0;padding:0;
    font:14px "Microsoft YaHei","微软雅黑",Arial,\5b8b\4f53;font-weight:bold;
    background-color: black;

}

p{
    margin: 0;
    padding: 0;
}

div::selection {
    background:#c00;
}

.chengfa{
    position: relative;
    font-size:50px;
    /*color:#f60;*/
    color:white;
    width:980px;
    height:500px;
    margin:10px auto 0 auto;
    text-align:center;
    overflow:auto;
    /*border:2px dashed #ccc;*/
    border:2px solid #ccc;
    line-height:85px;
    -webkit-animation: pulse 1.5s infinite ease-in-out;
    animation: pulse 1.5s infinite ease-in-out;
    background: url(http://www.sail.name/random/images/8.png) center no-repeat;
}

/*窗口宽度在500px下*/
@media screen and (max-width: 500px) {
    .chengfa{
        width: 290px;
        height: 340px;
        margin:4px auto 0 auto;
        border:1px dashed #ccc;
        font-size: 20px;
        line-height:40px;
    }
}

@media screen and (min-width: 500px) and (max-width: 999px){
    .chengfa{
        width: 540px;
        height: 380px;
        font-size: 30px;
        line-height:40px;
    }
}

.cfav{
    width:240px;
    margin:0 auto 50px;
    padding-top:50px;
    overflow:visible
}


/*窗口宽度在500px下*/
@media screen and (max-width: 500px) {
    .cfav{
        padding-top: 10px;
    }
}


@media screen and (min-width: 500px) and (max-width: 999px){
    .cfav{
        padding-top: 10px;
    }
}

.cfav a{
    width:200px;
    height:50px;
    display:block;
    background:#03414D;
    overflow:auto;
    line-height:40px;
    color:#fff;
    text-align:center;
    border:1px solid #03414D;
    border-radius:5px;
    float:left;
    margin:0 20px;
    cursor:pointer;
    display:none;
    position:relative;
    font-size: 24px;
    margin-bottom: 20px;
}

/*窗口宽度在500px下*/
@media screen and (max-width: 500px) {
    .cfav a{
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 500px) and (max-width: 999px){
    .cfav a{
        margin-bottom: 10px;
    }
}

.cfav a:hover{
    background:#72DFD0;
    /*background:#f80;*/
}

.cfav a.count{
    display:none;
}

.cfav a.moren{
    width:200px;
    height:40px;
    display:block;
    background:#f60;
    overflow:visible;
    line-height:40px;
    color:#fff;
    text-align:center;
    border:1px solid #f30;
    border-radius:5px;
    float:left;
    margin:0 20px;
    cursor:pointer;
    display:none;
    position:relative;
}


.cfav a.count_a{
    background:#ccc;
    border:1px solid #eee;
}


.tmp_face{
    width:400px;
    height:400px;
    position:absolute;
    margin-top:-138px;
    left:-400px;
}

/*================orz*/

.over{
    display: none;
}

section{

}

#come{
    width: 460px;
    height: 34px;
    font-size: 18px;
    font-family:微软雅黑 ;
    position: relative;
    margin-top: 25px;
    /*margin-left: -60px;*/
    left:-40%;
}

/*窗口宽度在500px下*/
@media screen and (max-width: 500px) {
    #come{
        margin-top: 10px;
        width: 270px;
        height: 28px;
        font-size: 14px;
        left:-5%;
    }
}

@media screen and (min-width: 500px) and (max-width: 999px){
    #come{
        margin-top: 8px;
        /*width: 270px;*/
        /*height: 28px;*/
        /*font-size: 14px;*/
        /*left:-5%;*/
    }
}

#finish{
    font-family:微软雅黑;
    background-color: honeydew;
    display: inline-block;
    position: relative;
    width: 50px;
    height: 40px;
    left:8%;
}



.past_one{
    font-family:微软雅黑;
    background-color:deepskyblue;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 40px;
    left: 8%;
}

.about{
    width: 100px;
    height: 40px;
    /*border-radius: 10px;*/
    font-family:微软雅黑;
    background-color: honeydew;
    display: inline-block;
    position: relative;
    left:8%;
}


/*窗口宽度在500px下*/
@media screen and (max-width: 500px) {
    .about{

    }
}

@media screen and (min-width: 500px) and (max-width: 999px){
    .about{
        height: 36px;
    }

    .past_one{
        height: 36px;
    }

    .finish{
        height: 36px;
    }

}


@-webkit-keyframes pulse {
    0%{
        box-shadow: 0 0 14px rgba(51,204,255,0.2);
    }
    50%{
        box-shadow: 0 0 14px rgba(51,204,255,0.9);
    }
    100%{
        box-shadow: 0 0 14px rgba(51,204,255,0.2);
    }
}
@keyframes pulse {
    0%{
        box-shadow: 0 0 14px rgba(51,204,255,0.2);
    }
    50%{
        box-shadow: 0 0 14px rgba(51,204,255,0.9);
    }
    100%{
        box-shadow: 0 0 14px rgba(51,204,255,0.2);
    }
}

.sail{
    display: block;
    width: 50px;
    height: 50px;
    /*border:2px solid red;*/
    position: absolute;
    top: 42%;
    left:55%;
    z-index: 900;
}

.sail-ring{
    background-color: rgba(49,219,234, 0.6);
    border-radius: 15px;
    position: absolute;
    top:26%;
    left: 26%;
    height: 30px;
    width: 30px;
    -webkit-animation: sail-ring 1.8s ease-out infinite both;
    animation: sail-ring 1.8s ease-out infinite both;
}

.center{
    height: 4px;
    width: 4px;
    border-radius: 3px;
    display: block;
    background-color: white;
    position: absolute;
    top:52%;
    left:52%;
}

/*窗口宽度在500px下*/
@media screen and (max-width: 500px) {
    .sail{
    top:38%;
    left:66%;
  }
}

@media screen and (min-width: 500px) and (max-width: 999px){
    .sail{
        top:40%;
        left:59%;
    }
}

@keyframes sail-ring{
    0%  {transform: scale(0.2);  background-color: rgba(49,219,234, 0.2);}
    20%  {transform: scale(0.3);  background-color: rgba(49,219,234, 0.3);}
    40%  {transform: scale(0.5);  background-color: rgba(49,219,234, 0.5);}
    60%  {transform: scale(0.7);  background-color: rgba(49,219,234, 0.4);}
    80%  {transform: scale(0.9);  background-color: rgba(49,219,234, 0.2);}
    100%  {transform: scale(1);  background-color: rgba(49,219,234, 0.1);}
}

.sail-ring.one{animation-delay: 0s;-webkit-animation-delay: 0s;}
.sail-ring.four{animation-delay: 0.6s;-webkit-animation-delay: 0.5s;}
.sail-ring.three{animation-delay: 1.2s;-webkit-animation-delay:1.0s;}